* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #121117, #181820);
    font-family: 'Nanum Gothic', sans-serif;
    color: whitesmoke;
}

/* Navigation Section */

nav {
    position: relative;
    height: 100px;
    width: 100%;
    font-size: 1.5rem;
}

.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    font-size: 35px;
    padding: 20px 80px;
    display: inline-block;
    font-weight: 1000;
    color: #fc6a03;
}

.nav>.navbar {
    float: right;
    display: inline;
    font-size: 20px;
    margin-right: 15%;
}

.nav>.navbar li {
    display: inline-block;
    padding: 25px 0px;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 400;
    padding: 10px;
}

a:hover {
    color: #fc6a03;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    height: 100vh;
}

.container>.landing-text {
    position: relative;
    height: 100vh;
    width: 40%;
    align-items: center;
    margin-top: 25%;
}

.container .landing-text p {
    font-size: 1.3rem;
    line-height: 1.5;
    color: lightgrey;
    padding: 0px 20px;
    margin: 10px;

}

.container .landing-text p:first-child {
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.container .landing-text p:first-child span {
    color: #fc6a03;
    font-size: 2.5rem
}

.container .landing-text button {
    width: 200px;
    height: 50px;
    margin: 20px 50px;
    border-radius: 20px;
    border: 0px;
    font-size: 1em;
}

.container .landing-images {
    display: flex;
    width: 60%;
    height: 100vh;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}


.circle-image {
    border-radius: 50%;
    border: 5px solid #181820;
    position: absolute;
    width: 350px;
    height: 350px;
    top: 100px;
    bottom: 100px;
    left: 45%;
}

.small-circle {
    border: 5px solid #181820;
    position: relative;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}


.bottom {
    top: 250px;
}

/* Markets Section */
#markets .markets-container h2 {
    padding: 30px;
    font-size: 2.5rem;
    color: #fc6a03;
}

#markets .markets-container #crypto-table th {
    padding: 0px 60px;
}

#crypto-table {
    border-collapse: separate;
    border-spacing: 0 1em;
    padding: 0 10px;
    background: #181820;
    border-radius: 5px;
    position: relative;
    margin: 2%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

/* News Section */
#news-slider {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    display: none;
    animation-name: slider;
    animation-duration: 1s;
    overflow: hidden;
}

#dot {
    margin: 0 auto;
    text-align: center;
}

.dot {
    border-radius: 50%;
    padding: 8px;
    margin: 8px;
    display: inline-block;
}

.active {
    background: black;
}

/* Services Section */
#services .services-container {
    width: 95%;
    height: 100vh;
    margin: 0 2%;
    background: #181820;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    display: flex;
}

#services .services-container .wrapper h4 {
    padding: 20% 2% 1%;
    font-size: 2.5rem;
}

#services .services-container .wrapper p {
    padding: 10px;
}

#services .services-container .wrapper button {
    margin: 1% 4%;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    background: #fc6a03;
    font-size: 1.3rem;
    color: whitesmoke;
    margin: 20px;

}


#services .services-container .wrapper {
    width: 50%;
    margin: 7% 2% 0;
}

#services .services-container .nested-container {
    width: 50%;
    display: table;
    padding: 5px;
    margin: 5px 0;
}

#services .services-container .nested {
    width: 50vw;
}

#services .services-container .nested .nested-image {
    width: 18%;
    height: 100px;
    display: inline-block;
    margin: 10px;
}

#services .services-container .nested .nested-text {
    display: inline-block;
    width: 50%;
    margin: 4%;
    height: 20vh;
    font-size: 1.2rem;
}

#services .services-container .nested .nested-text h4 {
    padding-top: 10px;
    font-size: 2rem;
    padding: 10px 0;
    color: #fc6a03;
}



/* Testimonials Section */
.testimonials-container {
    padding: 40px 0;
}

.testimonials-container .header-section {
    padding: 0 25px;
}

.header-section h3,
.header-section p {
    text-align: center;
}

.testimonials-container .carousel {
    display: flex;
    justify-content: center;
}

.testimonials-container .testimonials {
    flex-direction: column;
    width: 40vw;
    height: 30vh;
    align-items: center;
    justify-content: flex-start;
    transition: transform 0.25s;
    text-align: center;
    background-color: #121117;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    padding: 30px;
}

.testimonials-container .active{
    z-index: 1;
    display: flex;
    order: 2;
    transform: scale(1.1);
}

.testimonials-container .testimonial-image{
    border: 50%;
}

.testimonials .testimonial-text{
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
}













































/* Media Query for Navigation Bar */

/* @media (max-width:650px) {
    .nav>.nav-responsive {
        position: absolute;
        display: inline-block;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-responsive>label {
        width: 60px;
        height: 60px;
        display: inline-block;
        padding: 10px;
    }

    .nav>.nav-responsive>label>span {
        width: 25px;
        height: 10px;
        display: block;
        border-top: 2px solid #121117;
    }

    .nav>.navbar {
        display: block;
        position: absolute;
        width: 100%;
        height: 0px;
        background-color: #121117;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
        transition: all 0.3s ease-in;
    }

    .nav > #nav-responsive:not(:checked) ~ .navbar{
        height: 0px;
    }

    .nav > #nav-responsive:checked ~ .navbar{
        height: calc(100vh - 50px);
        overflow-y: auto;
    }




} */